*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}
.header{
    background-color: #1F2937;
    padding: 0 15%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}
.logo{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 700;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}
.nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links{
    display:flex;
    gap: 20px;
}
.banner-heading{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.banner-text{
    color: #E5E7EB;
    font-size: 18px;
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 24px;
    border-radius: 16px;
}

.banner-btn{
    border:none;
}
.image-holder{
    background-color: gray;
    color: #E5E7EB;
    width: 480px;
    text-align: center;
    align-items: center;
    height: 230px;
}
.banner{
    flex-grow: 1;
    display: flex;
    gap: 45px;
    align-items: center;
}
.left{
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: flex-start;
}
.info-container{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    width: 60%;
}
.info-header{
    color: #1F2937;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin-bottom:40px;
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    max-width: 165px;
    display: flex;
    flex-direction: column;
    gap:16px;
}
.card-img{
    border: 4px solid #3882F6;
    border-radius: 18px;
    height:168px;
    width: 168px;
}
.card-info{
    font-size: 16px;
    color: gray;
    text-align: center;
    font-weight: 400;
}
.quote-container{
    background-color: #E5E7EB;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
    flex-direction: column;
}
.quote{
    width:58%;
}
.main-quote{
    color: #1F2937;
    font-size:36px;
    font-weight: 700;
    font-style: italic;
}
.author{
    color: #1F2937;
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
}

.cot-container{
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cot{
    /* border: 2px solid gray; */
    background-color: #3882F6;
    width: 70%;
    padding: 50px 70px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.cot-heading{
    color: #F9FAF8;
    font-size: 24px;
}

.cot-text{
    color: #E5E7EB;
    font-size: 18px;
}

.left{
    /* border: 1px solid #E5E7EB; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cta-btn{
    border: 2px solid #F9FAF8;
    align-self: center;
}
/*.footer-container{
    background-color: #1F2937;
    padding: 0 15%;
    min-height: 10vh;
    display: flex;
    
    color:#F9FAF8;
    align-items: center;
}
.footer{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}*/
.footer-container{
    background-color: #1F2937;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-regular, .fa-copyright{
    color:#F9FAF8;
    font-size: 20px;
}
.footer{
    color: #E5E7EB;
    font-weight: 100;
    display: flex;
    justify-content: center;
    gap: 10px;
}